<h1>MUMUL</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <!--userName 이 있으면 -->
            {{#userName}}
                Logged in as (name) : <span id="user">{{userName}}</span><br>
                Logged in as (email) : <span id="user">{{userEmail}}</span><br>
                Logged in as (picture) : <span id="user">{{userPicture}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a><br>
                <a href="/spaces/{{spaceId}}" class="btn btn-primary">내 스페이스</a>
            {{/userName}}
            <!--userName 이 없으면 -->
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/userName}}
        </div>
    </div>
</div>


