<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/question.js"></script>
    <script>
    function change() {
        var elem = document.getElementById("isPublic");
        if (elem.value == "🔒냥이로 녹아들기") {
            elem.value = "🔓공개무물하기";
        } else {
            elem.value = "🔒냥이로 녹아들기";
        }
    }

    </script>

    <style>
        .input,
        .textarea {
        border: 1px solid #ccc;
        font-family: inherit;
        font-size: inherit;
        padding: 1px 6px;
        }

        .textarea {
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
        }

        .textarea:empty::before {
        content: "질문을 입럭하세요..";
        color: gray;
        }
        img {
        border-radius: 50%;
         }

    </style>

</head>
<body>

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        {{#receivingUserSpaceId}}
            <input type="hidden" id="receivingSpaceId" value="{{receivingUserSpaceId}}"/>
            <img class="photo" id="sentUserPic" width="90" height="90" src="{{ sendingUserPicture }}"/>
            <p id="sendingUserName">{{sendingUserName}}</p>
            <input onclick="change()" type="button" value="🔒냥이로 녹아들기" id="isPublic"/><br><br>
            <textarea class="textarea resize-ta" id="questionText"></textarea>
            <br>
            <button id="updateBtn" type="button" class="btn btn-primary">보내기</button>
            <button id="cancelBtn" type="button" class="btn btn-secondary">취소</button>
        {{/receivingUserSpaceId}}

        {{^receivingUserSpaceId}}
            <p>존재하지 않는 스페이스입니다.</p>
        {{/receivingUserSpaceId}}
    </div>
</div>
</body>
</html>

