<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/question.js"></script>
</head>
<body>

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        {{#receivingUserSpaceId}}
            <input type="hidden" id="receivingSpaceId" value="{{receivingUserSpaceId}}" />
            <img class="photo" id="sentUserPic" width="90" height="90" src="{{ sendingUserPicture }}" />
            <p id="sendingUserName">{{sendingUserName}}</p>
            <form>
                <div class="form-group">
                    <label for="username">질문</label>
                    <input type="text" id="questionText" width="1000" class="form-control"/>
                </div>

                <br><br>
                <button id="updateBtn" type="button" class="btn btn-primary">보내기</button>
                <button id="cancelBtn" type="button" class="btn btn-secondary">취소</button>
            </form>
        {{/receivingUserSpaceId}}

        {{^receivingUserSpaceId}}
            <p>존재하지 않는 스페이스입니다.</p>
        {{/receivingUserSpaceId}}
    </div>
</div>
</body>
</html>

