<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index.js"></script>
    <style>
    img {
        border-radius: 50%;
    }
.question-card {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.answer-card {
  background-color: #C7C7C7;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.follow-li {
    display: inline-block;
    margin-right: 10px;
}

.following {
  background-color: #C7C7C7;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.follower {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.profile-id {
    text-align: center;
}

    </style>
</head>
<body>
{{#isPictureEmpty}}
    <img class="photo" width="90" height="90" src="{{picture}}"/>
{{/isPictureEmpty}}
{{^isPictureEmpty}}
    <img id="imgId" src="/spaces/{{spaceId}}/picture" width="100" height="100" alt="첨부이미지" />
{{/isPictureEmpty}}
<input type="hidden" id="spaceId" value="{{spaceId}}"/>
<h1>{{name}}의 스페이스</h1>
<p>{{email}}</p>
<p>{{introduce}}</p>
<p>{{instaId}}</p>


{{#followingUserEntityList}}
    <p>팔로잉 목록</p>
    <li class="follow-li">
        <div class="following">
            <a href="/spaces/{{id}}">
                <img class="photo" width="90" height="90" src="{{picture}}"/>
            </a>
            <p class="profile-id">{{name}}</p>
        </div>
    </li>
{{/followingUserEntityList}}
{{^followingUserEntityList}}
    <p>팔로잉한 회원이 없습니다.</p>
{{/followingUserEntityList}}

{{#followerUserEntityList}}
    <p>팔로워 목록</p>
    <li class="follow-li">
        <div class="follower">
            <a href="/spaces/{{id}}">
                <img class="photo" width="90" height="90" src="{{picture}}"/>
            </a>
            <p class="profile-id">{{name}}</p>
        </div>
    </li>
{{/followerUserEntityList}}
{{^followerUserEntityList}}
    <p>팔로워가 없습니다. </p>
{{/followerUserEntityList}}


<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#isOwner}}
                <!-- 자신의 스페이스인 경우 -->
                <button class="btn btn-primary"
                        onclick="location.href='/spaces/{{spaceId}}/update'">프로필 수정
                </button>
            {{/isOwner}}
            {{^isOwner}}
                <!-- 남의 스페이스인 경우 -->
                <button class="btn btn-primary"
                        onclick="location.href='/spaces/{{spaceId}}/question'">질문하기
                </button>


                <button class="btn btn-primary" id="followCheck">
                    {{#isFollowing}}
                        팔로잉
                    {{/isFollowing}}
                    {{^isFollowing}}
                        팔로우
                    {{/isFollowing}}
                </button>


            {{/isOwner}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="btn-group mb-4" id="question-tabs" role="group">
                <button type="button" class="btn btn-secondary active" data-toggle="tab" data-target="#sent-questions"
                        id="sent-tab">보낸 질문
                </button>
                <button type="button" class="btn btn-secondary" data-toggle="tab" data-target="#received-questions"
                        id="received-tab">받은 질문
                </button>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="sent-questions">
                    {{#sentQuestions}}
                            <!--스페이스의 주인이 나라면-->
                            {{#isOwner}}
                                <div class="card mb-3 question-card">
                                    <div class="card-body">
                                        <input type="hidden" id="questionId" value="{{id}}"/>
                                        <img width="45" height="45" src="{{sentUserPic}}"/>
                                        <p class="card-text">{{userId}}   at {{createdTime}}</p>
                                        <h5 class="card-title">{{questionText}}</h5>
                                        <p onclick="location.href='/spaces/{{spaceId}}/{{id}}/answer'">답변하기</p>
                                        <button class="btn btn-primary q-delete-btn">삭제하기</button>
                                        {{#sentAnswers}}
                                            <div class="card answer-card">
                                                <div class="card-body">
                                                    <input type="hidden" id="answerId" value="{{id}}"/>
                                                    <input type="hidden" id="spaceId" value="{{spaceId}}"/>
                                                    <img width="45" height="45" src="{{sentUserPic}}"/>
                                                    <p class="card-text">{{userName}}   at  {{createdTime}}</p>
                                                    <h5 class="card-title">{{answerText}}</h5>
                                                    <button class="btn btn-primary delete-btn">삭제하기</button>

                                                </div>
                                            </div>
                                        {{/sentAnswers}}
                                    </div>
                                </div>

                            {{/isOwner}}
                            {{^isOwner}}
                                <div class="card mb-3 question-card">
                                    <div class="card-body">
                                        <img width="45" height="45" src="{{sentUserPic}}"/>
                                        <p class="card-text">{{userId}}   at {{createdTime}}</p>
                                        <h5 class="card-title">{{questionText}}</h5>
                                        {{#sentAnswers}}
                                            <div class="card answer-card">
                                                <div class="card-body">
                                                    <img width="45" height="45" src="{{sentUserPic}}"/>
                                                    <p class="card-text">{{userName}}   at  {{createdTime}}</p>
                                                    {{#isPublic}}
                                                        <h5 class="card-title">{{answerText}}</h5>
                                                    {{/isPublic}}
                                                    {{^isPublic}}
                                                        <h5 class="card-title">{{alternativeAnswerText}}</h5>
                                                    {{/isPublic}}

                                                    <button class="btn btn-primary delete-btn">삭제하기</button>
                                                </div>
                                            </div>
                                        {{/sentAnswers}}
                                    </div>
                                </div>

                            {{/isOwner}}
                    {{/sentQuestions}}
                    {{^sentQuestions}}
                        <p>보낸 질문이 없습니다.</p>
                    {{/sentQuestions}}
                </div>
                <div class="tab-pane fade" id="received-questions">
                    {{#receivedQuestions}}
                            <!--스페이스의 주인이 나라면-->
                        {{#isOwner}}
                            <div class="card mb-3 question-card">
                                <div class="card-body">
                                    <input type="hidden" id="questionId" value="{{id}}"/>
                                    <img width="45" height="45" src="{{sentUserPic}}"/>
                                    <p class="card-text">{{userId}}   at {{createdTime}}</p>
                                    <h5 class="card-title">{{questionText}}</h5>
                                    <p onclick="location.href='/spaces/{{spaceId}}/{{id}}/answer'">답변하기</p>
                                    <button class="btn btn-primary q-delete-btn">삭제하기</button>
                                    {{#receivedAnswers}}
                                        <div class="card answer-card">
                                            <div class="card-body">
                                                <input type="hidden" id="answerId" value="{{id}}"/>
                                                <input type="hidden" id="spaceId" value="{{spaceId}}"/>
                                                <img width="45" height="45" src="{{sentUserPic}}"/>
                                                <p class="card-text">{{userName}}   at  {{createdTime}}</p>
                                                <h5 class="card-title">{{answerText}}</h5>
                                            <button class="btn btn-primary delete-btn">삭제하기</button>
                                            </div>
                                        </div>
                                    {{/receivedAnswers}}
                                </div>
                            </div>

                        {{/isOwner}}
                        {{^isOwner}}
                            <div class="card mb-3 question-card">
                                <div class="card-body">
                                    <input type="hidden" id="spaceId" value="{{spaceId}}"/>
                                    <img width="45" height="45" src="{{sentUserPic}}"/>
                                    <p class="card-text">{{userId}}   at {{createdTime}}</p>
                                    <h5 class="card-title">{{questionText}}</h5>
                                    {{#receivedAnswers}}
                                        <div class="card answer-card">
                                            <div class="card-body">
                                                <img width="45" height="45" src="{{sentUserPic}}"/>
                                                <p class="card-text">{{userName}}   at  {{createdTime}}</p>

                                                {{#isPublic}}
                                                    <h5 class="card-title">{{answerText}}</h5>
                                                {{/isPublic}}
                                                {{^isPublic}}
                                                    <h5 class="card-title">{{alternativeAnswerText}}</h5>
                                                {{/isPublic}}


                                                <button class="btn btn-primary delete-btn">삭제하기</button>

                                            </div>
                                        </div>
                                    {{/receivedAnswers}}
                                </div>
                            </div>
                        {{/isOwner}}
                    {{/receivedQuestions}}
                    {{^receivedQuestions}}
                        <p>받은 질문이 없습니다.</p>
                    {{/receivedQuestions}}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
