<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space</title>
    <script src="/js/index.js"></script>
</head>
<body>
<h1>{{userName}}의 스페이스</h1>
<p>{{userEmail}}</p>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#isOwner}}
                <!-- 자신의 스페이스인 경우 -->
                <button class="btn btn-primary">프로필 수정</button>
            {{/isOwner}}
            {{^isOwner}}
                <!-- 남의 스페이스인 경우 -->
                <button class="btn btn-primary">질문하기</button>
            {{/isOwner}}
        </div>
    </div>
</div>


<!-- 보낸 질문과 받은 질문 탭 -->
<div class="tabs">
    <button class="tablink" onclick="openTab('sent-tab')">보낸 질문</button>
    <button class="tablink" onclick="openTab('received-tab')">받은 질문</button>
</div>

<!-- 내가 보낸 질문 탭 -->
<div id="sent-tab" class="tabcontent">
    <h2>내가 보낸 질문</h2>
    <table>
        <thead>
        <tr>
            <th>질문 제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {{#sentQuestions}}
            <tr>
                <td><a href="/qna/{{id}}">{{title}}</a></td>
                <td>{{creationTime}}</td>
            </tr>
        {{/sentQuestions}}
        </tbody>
    </table>
</div>

<!-- 내가 받은 질문 탭 -->
<div id="received-tab" class="tabcontent">
    <h2>내가 받은 질문</h2>
    <table>
        <thead>
        <tr>
            <th>질문 제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {{#receivedQuestions}}
            <tr>
                <td><a href="/qna/{{id}}">{{title}}</a></td>
                <td>{{creationTime}}</td>
            </tr>
        {{/receivedQuestions}}
        </tbody>
    </table>
</div>
</body>
</html>
